.game-card {
    border: 1px solid #8d8d8d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.1s;
    background-color: #fcfcfc;
}

.game-card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-card-cover {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-card-info {
    display: flex;
    flex-direction: column;
}

.game-card-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-card-main > * {
    margin-top: 5px;
    margin-bottom: 0px;
}

.game-card-name {
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-card-release-year {
    font-size: 0.9rem;
    color: #666;
}

.game-card-name:hover {
    text-decoration: underline;
}

.game-card-category {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
}