.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 272px)); // adjust the minmax values according to your needs
    justify-content: space-between;
    gap: 20px;
}

.search-results {
    padding: 20px 0;
    min-height: 90vh;
}