.header {
    display: flex;
    align-items: center;
    padding: 1rem 15%;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #202022;
    max-height: 10vh;
}

.header-left, .header-right {
    flex: 1;
}

.header-right {
    display: flex;
    justify-content: flex-end;
}

.header-middle {
    width: 40%;
}

.header-left img {
    height: 40px;
}

#header-register-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
}

#header-login-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    height: 40px;
}

.hover-enlarge {
    transition: transform 0.1s; 
}

.hover-enlarge:hover {
    transform: scale(1.05);
}
